/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}
/* Default CSS */

* {
  scrollbar-width: hidden;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;

  min-width: 344px;
  min-height: 100vh !important;
  position: relative;
  background-image: url("./assets/img/banner-bg.png");
  background-repeat: repeat;
  background-size: cover;

  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}
.highlight-letter {
  color: #bfa5d3 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.App {
  text-align: center;
}

nav {
  position: sticky !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  top: 0;
  width: 100%;
  padding: 10px !important;
  z-index: 9999;
  transition: all 0.5s;
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0s;
}

nav.fixed {
  box-shadow: 2px 4px 6px rgba(5, 0, 0, 0.3) !important;
  background-color: #1b0f24;
}

.sections {
  display: flex;
  color: inherit !important;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}
@media (max-width: 785px) {
  .sections {
    margin-right: 10rem;
  }
}

@media (max-width: 640px) {
  .sections {
    margin-right: 7rem;
  }
}
@media (max-width: 565px) {
  .sections {
    margin-right: 4rem;
    gap: 1rem;
  }
}
@media (max-width: 487px) {
  .sections {
    font-size: 15px;
    margin-right: 1rem;
    gap: 1rem;
  }
}
@media (max-width: 425px) {
  .sections {
    gap: 0.3rem;
  }
}
@media (max-width: 401px) {
  .sections {
    margin-right: 0;
  }
}
@media (max-width: 387px) {
  .sections {
    margin-left: -3rem;
  }
}
.nav-text {
  color: white !important;
  text-decoration: none !important;
  background: none;
  border: none;
  padding: 10px;
  transition: all 0.3s;
}
@media (min-width: 487px) {
  .nav-text {
    border: 1px solid white;
    box-shadow: 2px 4px 6px rgba(77, 77, 77, 0.3);
    border-radius: 180px;
  }
  .nav-text:hover {
    background-color: white;
    color: black !important;
  }
}
.navrbar-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}
.social-icon {
  display: flex;
  gap: 1rem;
}

.social-icon img {
  transition: all 0.1s ease-in !important;
  width: 30px;
}
.social-icon img:hover {
  transform: scale(1.4);
}
.navrbar-social {
  @media (max-width: 785px) {
    display: none;
  }
}
.navrbar-social button {
  background: none;
  color: white;
  border-color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 2px 4px 6px rgba(5, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.navrbar-social button:hover {
  color: black;
  border-color: black !important;
  background-color: white;
}
footer {
  background-image: url("./assets/img/footer-bg.png");
  width: 100%;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

footer p {
  padding: 8px;
  margin: 0;
}
footer a {
  color: white;

  margin-left: 5px;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50rem;
}

.home-title {
  margin-top: 4rem;
  margin-left: 2rem;
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
}
@media (min-width: 500px) {
  .home-title {
    font-size: 4rem;
  }
}
.line {
  opacity: 0;
  transform: translateY(20px); /* Start slightly below */
  animation: fadeInUp 0.5s forwards;
}
.line span {
  color: #bfa5d3;
}
.line1 {
  background: linear-gradient(4deg, #744794, #d4d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -1rem;
  animation-delay: 0s;
}

.line2 {
  margin-bottom: 0rem;
  animation-delay: 0.5s;
}

.line3 {
  line-height: 3rem;
  animation-delay: 1s;
}
.line3 .dot {
  animation-delay: 1.5;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.connect-btn {
  margin-top: 2rem;
  margin-left: 15rem;
  background: none;
  border-radius: 7px;
  border: 2px solid white;
  width: 8rem;
  height: 3rem;
  color: white;

  opacity: 0;
  transition: color 0.4s ease;
  animation: fadeInUp 0.5s forwards;
  animation-delay: 1.5s;
}

.animation-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;

  z-index: -1;
  transition: transform 0.4s ease; /* Smooth transition for the background */
  transform: scaleX(0); /* Start with background hidden */
  transform-origin: left; /* Start the transform from the left */
}

.animation-btn:hover {
  color: black;
  background-color: transparent;
}

.animation-btn:hover::before {
  transform: scaleX(1);
}

@media (max-width: 500px) {
  .connect-btn {
    margin-left: 5rem;
  }
}
@media (min-width: 500px) {
  .connect-btn {
    margin-left: 8rem;
  }
}
@media (min-width: 660px) {
  .connect-btn {
    margin-left: 15rem;
  }
}
.title {
  /* font-family: rubikregular, Arial, Helvetica, sans-serif; */
  font-family: secular, Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-color: #bfa5d3;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}
.about-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 50rem;
  margin-left: 5rem;
}
.about-container p {
  font-size: 20px;
  width: 50rem;
}
.company-link {
  text-decoration: none;
}
